@import 'modules/variable';
@import 'modules/header';
@import 'modules/competence';
@import 'modules/footer';

body {
	
	font-size : 18px;
	margin: 0;
	width: 100%;
	padding: 10px;
	height: 100%;
  	box-sizing: border-box;
	
}
