div.competence{
	
	text-align: center;

	h2{

	color: $secondary-color;
	font-family: Helvetica;
	}

	.container{

		display: flex;
	}
	h4{
		margin-left: 40%;

		color: $skill-color;

	};
	ul{
   		margin-left: 40%;
   		color: red;
		
  	}
  
  	div{
  		margin-left: 10%;
  	}
	
	li{
		list-style:none;
		
	img{
		width: 35%;
		
	}
	

	}

	div.Transversales{
		display: flex;
		ul{
   		margin-left: 20%;
		
  	}
	}

}